div#accedir {
  background-image   : url("https://lh3.googleusercontent.com/8prI60MuyoB8Kq5auNu1YRNLWe-2AsEXIZin_lAd5nohy3YobDG_Cr7fEmf33T9AkfMx_LUK-HaSHx4X0Oe_EnvjNHqxkYY0ZvIH_rbwvKGLz4mXtVAXwV90ahhCNywSWFMwEjLL6nRPsdPlJ9Ti4pAUgnKcLB6VkyHCUAASCoWARpO626cnLS100346I8bPuR_oxizZsJiTknNSUzey8nRHfeACQFGkBl420EqMi_WFSlj950NsdUnzhNk1Rbjq6KTNWEeGr9bfsWdfh67W0oDSAqImchgl7iKBXo7fD4ImagA7nIG3NiKHjfTCeYivOfeXfBdAs4GUHt2N-4-P142rFB-IEML9rPP_LmH3qlLiNEfOgM4AwPPGDhsJOQljUPx7Hlgsui0Dt2HAKu0ie93bhWb_J2w1TsmEQVjOK04XUiDOvp4rVRKS_duQqmiJlsrAhuI8dFrF6fEh_rQpKJyZFJsvTPQxQh6_eaJdId-nFU5d8r0BnEqD7wtV5N_5ne0IK8B9JF7OQVCT62mVBUccv3FuX1eIhnWkIv_oRPHulfCHafY0FM0zTMY8-2t3fgbpn4szANS8D9r1plXORfPfn-GQ3-BByabr6A=w1424-h949-no");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;

  background-color: #fff;

  .row.align-items-center.justify-content-center {
    height:100vh;
  }
}

div#registrar-se {
  background-image   : url("https://lh3.googleusercontent.com/HxXm4383MSRv0FSjOndcGo4RCpNG53P7H-D6m4rO-K53idjSSLFU2A4f9gu3fbxPslHPnwgYZ6Du9oP480j4koOLIZN5ZSYT_PdTdiMsqngu-LrV5dg14BmEQdBpxZETv_NoJVD3YZfVGhsY-6GnkEy_B0GCuDwREqsE6h7Xtg0OGOkVnSH5pPR8QLklqeo1eRlyPPohGd4v0xJkXmnDmaf1961iJ-mXIlLzIJgJEkCgwVHd0iDIkqC58DjhHa6aYJOG2ODm7q4YkLMp584A6dQBexq9uah3fEIHipsJvh2egI5BTozvd_0AgI7CEgI1u_qTpmmccVS8aHoX71UiSUMkOw1kUyunlEiMFr_M-AzsTOsTY065Basweb7qyfaIK5SL4Xm_elR_tGsKpnUaWUPdv234O7MdqrOfIa_jE0ukWJMmHUjtkUrYTZ__lCOqdXT8_a8J4xtut_gvHMixQ3Mdt7M4vEhsNgBjqZieIs5l4_cmet_E0U4BOvKpuUYBTT_qyjaRsIyPIn7EqYJlelKIRDlHdkQGTAYveebMHsQVR6Fwiu5nmFKhjZXuab1k_7olibFbt4VcIQxlgsqNL9xBtK4duH7DXFgz0w=w1424-h949-no");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;

  background-color: #fff;

  .row.align-items-center.justify-content-center {
    height:100vh;
  }
}
