div#accedir {
  background-image   : url("https://source.unsplash.com/PeUJyoylfe4");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;

  .row.align-items-center.justify-content-center {
    height:100vh;
  }
}

div#registrar-se {
  background-image   : url("https://source.unsplash.com/MfA21vhkVLg");
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;

  .row.align-items-center.justify-content-center {
    height:100vh;
  }
}
