@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Krona+One|Libre+Baskerville|Open+Sans');

nav a {
  font-family: 'Krona One', sans-serif;
  font-size: 0.8rem;
}

ul#indexnav {
  background-color: rgba(245, 238, 158, 0.82);

  a {
    font-family: 'Krona One', sans-serif;
    color: #2D728F;
  }
}

h1, h2, h3, h4, h5, h6,
h5.card-title,
th {
  // font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

p,
ul li,
td,
dt, dd,
.btn,
form {
  font-family: 'Libre Baskerville', serif;
}

div#alegal {
  * {
    font-family: 'Cutive Mono', monospace;
  }
}
