html,
body {
  height: 100%;
}

div#app {
  min-height: 100vh;
}

.eshared {
  font-family: 'Krona One', sans-serif;
}

header#index {
  height: 600px;
  background-color: #fff;

  h1 {
    font-family: 'Krona One', sans-serif;
    color: #2D728F;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }

  .row {
    background: linear-gradient(rgba(255, 242, 204, 0.48), rgba(255, 242, 204, 0.48), rgba(255, 242, 204, 0.48), #F5EE9E);
  }
}

@include media-breakpoint-up(xs) {
  header#index {
    h1 {
      font-size: 2rem;
    }
  }
}
@include media-breakpoint-up(sm) {
  header#index {
    h1 {
      font-size: 2.8rem;
    }
  }
}
@include media-breakpoint-up(md) {
  header#index {
    h1 {
      font-size: 5rem;
    }
  }
}
@include media-breakpoint-up(lg) {
  header#index {
    h1 {
      font-size: 8rem;
    }
  }
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
